<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wxy.wxyandroidstudy">

    <application
        android:name="com.wxy.base.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/StartTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon,label,name">
        <activity android:name=".ui.ScrollviewActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity android:name=".LowerLevel.TheFirstPass.Test1.activity.ActivityTestOne"></activity>-->
        <activity android:name=".lowerlevel.thefirstpass.test1_activity.activity.ActivityTestTwo" />
        <activity android:name=".lowerlevel.thefirstpass.test9_annotation.AnnotationActivity" />
        <activity android:name=".xiangxue.InjectViewActivity"
            android:theme="@style/Theme.AppCompat.Dialog"/>
        <activity
            android:name=".lowerlevel.thefirstpass.test1_activity.activity.StandardActivity"
            android:process=":remote" />
        <activity
            android:name=".lowerlevel.thefirstpass.test1_activity.activity.SingleTopActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".lowerlevel.thefirstpass.test1_activity.activity.SingleTaskActivity"
            android:launchMode="singleTask" />
        <activity android:name=".lowerlevel.thefirstpass.test1_activity.activity.OtherActivity" />
        <activity android:name="com.wxy.demo.iflytek.SpeakToTxtActivity" />
        <activity
            android:name="io.flutter.embedding.android.FlutterActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:theme="@style/FlutterTheme"
            android:windowSoftInputMode="adjustResize" >

            <meta-data
                android:name="io.flutter.embedding.android.SplashScreenDrawable"
                android:resource="@drawable/start_bg" />
        </activity>

        <service
            android:name=".highlevel.test1_ipc.messenger.MyService"
            android:process=":remote" />
        <service
            android:name=".highlevel.test1_ipc.aidl.AidlService"
            android:process=":remote" />
        <service
            android:name=".highlevel.test1_ipc.bindpool.BindPoolService"
            android:process=":remote" />

        <provider
            android:name=".highlevel.test1_ipc.contentprovider.BookContentProvider"
            android:authorities="com.wxy.wxyandroidstudy.mprovider"
            android:permission="com.wxy.wxyandroidstudy.PROVIDER"
            android:process=":provider" />

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

</manifest>